.Work-title{
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 40px;
}
.Work-photography{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Work-videos{
    margin-right: 5%;
    margin-top: 5%;
}

iframe{
    margin-left: 5%;
}

.Work-icon{
    font-size: 35px;
}

@media only screen and (max-width: 768px) {
    .Work-title{
        margin-top: 7%;
        margin-bottom: 4%;
    }
    iframe{
        margin-bottom: 5%;
    }
    .Work-photography{
        margin-right: 0%;
        margin-left: 0;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .Work-icon{
        margin-bottom: 6%;
        font-size: 35px;
    }
}